@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* tailwind.css */

.submitButton {
  background-color: #4c874a; /* Primary color */
  color: #fcf9ed; /* Text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px; /* Border radius */
  cursor: pointer;
}

#medsInfoForm,
#signUpForm {
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Center the form */
}

#medsInfoForm label {
  display: block;
  margin-bottom: 0.5rem;
}

#medsInfoForm input,
#signUpForm input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #4c874a; /* Border color */
  border-radius: 4px; /* Border radius */
}

#medsInfoForm button,
#signUpForm button {
  background-color: #4c874a; /* Primary color */
  color: #fcf9ed; /* Text color */
  padding: 0.5rem 1rem;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 4px; /* Border radius */
  cursor: pointer;
}

#takeMedsRemindersForm {
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Center the form */
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #4c874a; /* Border color */
  border-radius: 4px; /* Border radius */
}

button {
  background-color: #4c874a; /* Primary color */
  color: #fcf9ed; /* Text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px; /* Border radius */
  cursor: pointer;
}

.landing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px; /* Adjust the max-width as needed */
  padding: 2rem;
  background-image: url(./src/
assets/images/pills-reminder-hero.jpg);
}

.left-section {
  flex: 2;
  margin-right: 2rem;
}

.right-section {
  flex: 1;
}

.firstHeader {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.landingPageFeatures {
  list-style-type: none;
  padding-left: 0;
}

.landingPageFeatures li {
  margin-bottom: 1rem;
}

.langingPageFeatures li::before {
  content: "\1F48A";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.ctaText {
  margin-bottom: 1.5rem;
}

.buttons a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(
    to right,
    #4c874a,
    #306043
  ); /* Adjust gradient colors as needed */
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #3a6a37; /* Adjust hover color as needed */
}
